<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="#">Project Title</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link active" href="/" >Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href=<%= foods_path %> >Food Nutritional Table</a>
        </li>



      <% else %>
        <li class="nav-item active">
          <a class="nav-link active" href="/" >Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href=<%= foods_path %> >Foods</a>
        </li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <span class="navbar-text">
        <a class="nav-link active" href="#"><%= current_user.name || 'Username' %></a>
      </span>
      <span class="navbar-text">
        <a class="nav-link active" href=<%= profile_path %> >Profile</a>
      </span>
      <span class="navbar-text">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link active' %>
      </span>
    <% else %>
      <span class="navbar-text">
        <a class="nav-link active" href=<%= new_user_session_path %> >Login</a>
      </span>
        <span class="navbar-text">
        <a class="nav-link active" href=<%= new_user_registration_path %> >Signup</a>
      </span>
    <% end %>
  </div>
</nav>